@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    /* Definición de variables CSS (colores, gradiente, sombras) */
  --color-naranja-dark: #e96f41;
  --color-naranja-light: #f7bf72;
  --color-naranja: #f4a942;
  --color-negro: #1e1e1e;
  --color-blanco: #eee;
  --color-gris: #5a5f54d7;
  --gradiente: linear-gradient(180deg, #4b4b4b, #5a5f54);
  --box-shadow: 0px 0px 15px 5px var(--color-naranja-light);
  --borde-texto:10px solid var(--color-naranja-dark)


}
/*-------------------------------------------------------------------
                Reset de estilos comunes para elementos
---------------------------------------------------------------------*/
* {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  /* outline: solid 1px red; */
}
 /* Imágenes y elementos visuales ajustados al 100% de su contenedor */
img,
picture,
video,
svg,
canvas {
  max-width: 100%;
  display: block;
}
  /* Heredar la fuente de estilo del contenedor */
input,
button,
textarea,
select {
  font: inherit;
}
  /* Control del interlineado y manejo de desbordamiento en títulos */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  overflow-wrap: break-word;
  font-family: "Platypi", serif;
}

/* Quitar subrayado de los enlaces */
a {
  text-decoration: none;
}
/* Ajuste general del cuerpo de la página */
body {
  line-height: 1.5;
  background-color: var(--color-blanco);
  margin-left: 270px;
  font-weight: 300;
  
}

/*-------------------------------------------------------------------
                Contenedor principal del aside
---------------------------------------------------------------------*/
.wrapper {
  height: 100%;
  /* width: 270px; */
  position: relative;
  z-index: 9999;
  position: fixed;

}

/* Botón del menú lateral */

.wrapper .menu-btn {
  position: absolute;
  left: 255px;
  top: 10px;
  background: var(--color-negro);
  color: var(--color-blanco);
  height: 45px;
  width: 45px;
  z-index: 9999;
  border: 2px solid var(--color-naranja-dark);
  border-radius: 5px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Ajustes cuando el menú está cerrado */
#btn:checked ~ .menu-btn {
  left: 20px;
}
#btn:checked ~ .main {
  margin-left: 0px;
}
/* Iconos del botón de menú */

.wrapper .menu-btn i {
  position: absolute;
  font-size: 1.3rem;
  transition: all 0.9s ease;
}
  /* Ocultar icono de "barras" cuando el menú está cerrado */
.wrapper .menu-btn i.fa-bars {
  opacity: 0;
}

#btn:checked ~ .menu-btn i.fa-times {
  opacity: 0;
  transform: rotate(-180deg);
}
  /* Mostrar el icono de "barras" cuando el menú está abierto */
  #btn:checked ~ .menu-btn i.fa-bars {
  opacity: 1;
  transform: rotate(180deg);
}

/* Estilos del menú lateral */
#sidebar {
  position: fixed;
  background: var(--color-naranja-dark);
  height: 100%;
  width: 270px;
  overflow: hidden;
  left: 0;
  transition: all 0.9s ease;
  /* display: none; */
}
  /* Ocultar el sidebar cuando el menú está cerrado */
#btn:checked ~ #sidebar {
  left: -279px;
}
/* Título del sidebar */
#sidebar .title {
  background: var(--color-naranja-dark);
  border-bottom: 0.5px solid #33333340;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
/* Lista de elementos en el menú lateral */
#sidebar .list-items {
  position: relative;
  background: var(--color-negro);
  width: 100%;
  height: 100%;
  list-style: none;
}
/* Estilos para cada elemento del menú */

#sidebar .list-items li {
  padding-left: 40px;
  line-height: 50px;
  border-top: 0.5px solid rgba(255, 255, 255, 0.1);
  border-bottom: 0.5px solid #33333340;
  transition: all 0.3s ease;
}
  /* Efecto hover en cada elemento */
#sidebar .list-items li:hover {
  box-shadow: 0 0px 10px 3px #22222255;
  background: var(--color-naranja-dark);
}

/* Estilos para los enlaces del menú lateral */
#sidebar .list-items li a {
  color: var(--color-blanco);
  text-decoration: none;  
  font-weight: bold;
  display: block;
}
  /* Estilo al enfocar un enlace */
#sidebar .list-items li a:focus {
  outline: 2px solid var(--color-naranja);
}

#sidebar .list-items li a i {
  margin-right: 20px;
  color: var(--color-blanco);
}

/*-------------------------------------------------------------------
                Banner principal de la página
---------------------------------------------------------------------*/
header{
  margin-bottom: 30px;
}
.banner {
  height: 400px;
  background: url(../img/banner.webp);
  background-position:center;
  background-repeat: no-repeat;  
  background-size:cover;
  position: relative;  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  perspective: 1000px;
}

/* Información textual dentro del banner */
.banner .info {  
  position: relative;
  z-index: 3rem;
  text-align: center;
  color: var(--color-negro);   
}

.banner .info h1 {
  font-size: 5rem;
  font-weight: 100;  
  color: var(--color-naranja-dark);
}
.banner .info h2 {
  font-size: 2rem;
  font-weight: 100;
}

.banner .info p {    
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}


/*-------------------------------------------------------------------
                Main section del sitio web
---------------------------------------------------------------------*/


/*!------- Ajustes cuando el menú está cerrado-------- */


/*-------------------------------------------------------------------
            Sección principal dividida en dos columnas
---------------------------------------------------------------------*/

.container-section {
  display: grid;
  grid-template-columns: 40% 60%; /* Imagen 40%, texto 60% en pantallas grandes */
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 10px;  
  padding: 50px 90px;
}

.container-section .image { 
  grid-area: 1 / 1 / 4 / 2;
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  height: auto;
}

.container-section .image img { 
  max-width: 100%; 
  height: auto; 
  box-shadow: var(--box-shadow);    
  object-fit: contain; 
  
}

.container-section .texto-1 { 
  grid-area: 1 / 2 / 2 / 3; /* Primer párrafo al lado de la imagen */
  text-align: justify;  
}

.container-section .texto-2 { 
  grid-area: 2 / 2 / 3 / 3; /* Segundo párrafo debajo del primero */
  text-align: justify;
}

.container-section .texto-3 { 
  grid-area: 3 / 2 / 4 / 3; /* Tercer párrafo */
  text-align: justify;
}



/*-------------------------------------------------------------------
                        Estilos seccion carta
---------------------------------------------------------------------*/
.contenedor-carta {
  display: grid;
  /* justify-items: center; */
  grid-template-columns: repeat(4, .5fr);
  grid-template-rows: .5fr;
  gap: 20px;
  margin: 20px;
}
.columna1 { grid-area: 1 / 1 / 2 / 2; }
.columna2 { grid-area: 1 / 2 / 2 / 3; }
.columna3 { grid-area: 1 / 3 / 2 / 4; }
.columna4 { grid-area: 1 / 4 / 2 / 5; }

.contenedor-carta .columna {
  /* width: 30%; */
  border: 2px solid var(--color-naranja-dark);
  padding: 25px;
  height: auto;
}
.contenedor-carta h3 {
  color: var(--color-naranja-dark);
  border-bottom: 1px solid var(--color-naranja-dark);
  padding-bottom: 5px;
}
.contenedor-carta ul {
  list-style-type: none;
  padding: 0;
}
.contenedor-carta li {
  margin: 10px 0;
  font-weight: 400;
}
.descarga {
  text-align: center;
  margin-bottom:30px;
}
.descarga-btn {
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--color-naranja-dark);
  color: var(--color-blanco);
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}
.descarga-btn:hover {
  background-color: var(--color-naranja);
}
hr {
  color: var(--color-gris);
}




/*-------------------------------------------------------------------
                        Estilos para el slider
---------------------------------------------------------------------*/

/*-------------------------------------------------------------------
                        Estilos para nuestro pueblo
---------------------------------------------------------------------*/

/*-------------------------------------------------------------------
                        Estilos para notas
---------------------------------------------------------------------*/
#1 .contenedor {
 perspective: 1000px;
}
iframe{
  width: 100%;
  height: 224px;
  cursor: pointer;
  
}

.nota-list {
  display: none;
  grid-template-columns: .5fr .5fr;
  grid-template-rows: auto auto;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  justify-items: center;
}

.nota-card-container {
  max-width: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  outline: 10px solid var(--color-naranja-dark);
}

.nota-card-container:hover .nota-banner .nota-animation-img {
  opacity: 1;
  
}

.nota-card-container:hover .nota-banner {
  translate: 0 -50%;
  
  box-shadow:
  0 0 25px var(--color-neutral),
  -10px 0 40px var(--color-1),
  10px 0 40px var(--color-2);
}

.nota-card-container:hover .nota-details {
  bottom: -50%;
  
  box-shadow: 4px 4px 16px 6px #00000030;
}

.nota-details,
.nota-banner {
  width: 100%;
  aspect-ratio: 16/9;
  
  position: relative;
  transition: all 0.5s ease-in-out;
}

.nota-banner{
  --color-1: rgb(0, 191, 255);
  --color-2: rgb(255, 30, 0);
  --color-neutral: rgba(255, 255, 255, 0.369);
}

.srw30-glow {
  --color-1: rgb(132, 189, 19);
  --color-2: rgb(109, 6, 194);
  --color-neutral: rgba(255, 255, 255, 0.369);
}

.hades-glow {
  --color-1: rgb(255, 25, 0);
  --color-2: rgb(255, 238, 0);
  --color-neutral: rgba(255, 255, 255, 0.369);
}

.nota-banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  
  
}

.nota-animation-img {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out; 
  
}

.nota-details {
  background-color: rgb(35, 43, 43);
  color: white;
  padding: 1rem;
  
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  box-shadow: 4px 4px 8px 3px var(--color-naranja);
  
  position: absolute;
  bottom: 0;
  
}

.nota-details h3 {
  font-weight: 100;
 font-size: 1.2rem;
 padding-bottom: 5px;
 /* margin: 0 5px; */
}



/*-------------------------------------------------------------------
                              Estilos para formulario
---------------------------------------------------------------------*/


/*-------------------------------------------------------------------
                              Footer
---------------------------------------------------------------------*/
.contacto {
  background-color: var(--color-negro);
  color: var(--color-blanco);
  padding: 50px 0;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
  margin-top: 20PX;
}

.contacto .datos,
.contacto .redes-sociales,
.contacto .fuentes {
  border-left: 1px solid;
  padding-left: 20px;
}

/***Imagen de perfil*/
.contacto .perfil img {
  border-radius: 50%;
  width: 150px;
  border: 5px solid var(--blanco);
  margin-bottom: 20px;
}

/***Titulos*/
.contacto h4 {
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.contacto p {
  line-height: 30px;
}

/**Redes Sociales*/
/**Posicionamiento del Footer*/
.contacto .redes-sociales ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.contacto .redes-sociales ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.contacto .redes-sociales ul li a {
  color: var(--blanco);
  text-decoration: none;
  transition: color 0.3s ease;
  padding-left: 10px;
}

.contacto .redes-sociales ul li :hover {
  color: var(--color-naranja-light);
}

.contacto .fuentes a {
  color: var(--color-naranja-light);
}
/*-------------------------------------------------------------------
                Estilos para inicializar el diseño
---------------------------------------------------------------------*/

section .contenedor, .contacto{
  padding: 20px 50px;
}
section .titulo{
  font-size: 2rem; 
  font-weight: 100;   
  width: 100%;
  text-align: center;
  padding: 10px 0;
  color: var(--color-blanco);
  background: var(--color-negro);
  border-top: var(--borde-texto);
  border-bottom: var(--borde-texto);
  z-index: 500;
}


/*-------------------------------------------------------------------
                              Media Queries
---------------------------------------------------------------------*/

/*-----------------------------------------------------
      Estilos responsivos para pantallas laptop 
------------------------------------------------------*/
@media (max-width: 1440px) {

  .banner .info h1{
    font-size: 4.5rem;
  }
  .container-section {
    grid-template-columns: 50% 50%; /* Imagen y primer párrafo en columnas iguales */
    grid-template-rows: auto;
    padding: 30px 50px;
  }

  .container-section .image { 
    grid-area: 1 / 1 / 2 / 2; /* La imagen ocupa la primera columna */
  }

  .container-section .texto-1 { 
    grid-area: 1 / 2 / 2 / 3; /* Primer párrafo al lado de la imagen */
  }

  .container-section .texto-2,
  .container-section .texto-3 {
    grid-column: 1 / -1; /* Los demás párrafos se apilan debajo de la imagen */
  }
.contenedor-carta{
  grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
}

.columna1 { grid-area: 2 / 1 / 3 / 3; }
.columna2 { grid-area: 1 / 1 / 2 / 3; }
.columna3 { grid-area: 1 / 3 / 2 / 5; }
.columna4 { grid-area: 2 / 3 / 3 / 5; }
}
/*-----------------------------------------------------
      Estilos responsivos para pantallas laptop 
------------------------------------------------------*/
@media (max-width: 1024px) {
  
 
  /* Información textual dentro del banner */
  .banner .info {  
    z-index: 2;
    text-align: center;
    position: relative;
    color: var(--color-negro);   
  }
  
  .banner .info h1 {
    font-size: 3rem;
  }
  
  .banner .info p {
    font-size: 1rem;  
    /* margin: 0 auto; */
  }



  .container-section {
    grid-template-columns: 1fr; /* Una sola columna (todo apilado verticalmente) */
    grid-template-rows: auto;
    padding: 20px;
  }

  .container-section .image { 
    grid-area: 1 / 1 / 2 / 2; /* Imagen arriba */
    max-width: 100%; /* Asegura que la imagen nunca exceda el ancho de su contenedor */
    display: grid;  
    place-items: center;
    width: 100%;
    height: auto;
  }

  /* .container-section img {
  } */

  .container-section .texto-1,
  .container-section .texto-2,
  .container-section .texto-3 { 
    grid-area: auto; /* Todos los párrafos se apilan debajo de la imagen */
  }
}
/*-----------------------------------------------------
      Estilos responsivos para pantallas tablets
------------------------------------------------------*/
@media(max-width: 768px) {
  body{
    margin-left: 0;
  }

    /* Ajustes para el botón del menú */
  .wrapper .menu-btn {
    left: 20px; /* Posición del botón del menú */
    display: flex;
  }

  #btn:checked ~ .menu-btn {
    left: 280px;/* Posición del botón cuando el menú está abierto */
  }
   /* Icono del menú: barra */
  .wrapper .menu-btn i.fa-bars {
    opacity: 1;/* Visible cuando el menú está cerrado */
  }

  /* Icono del menú: cruz */
  .wrapper .menu-btn i.fa-times {
    opacity: 0; /* Invisible cuando el menú está cerrado */
  }

    /* Cambios en los iconos cuando el menú se abre */

  #btn:checked ~ .menu-btn i.fa-times {
    opacity: 1;/* Visible cuando el menú está abierto */
    transform: rotate(-180deg);
  }

  #btn:checked ~ .menu-btn i.fa-bars {
    opacity: 0;/* Invisible cuando el menú está abierto */
    transform: rotate(180deg);
  }
  /* Estilo del sidebar */
  #sidebar {
    width: 300px;
    left: -300px;
  }
  /* Sidebar visible cuando el menú está abierto */
  #btn:checked ~ #sidebar {
    left: 0;
  }

  /* Oculta los botones de deslizamiento en pantallas pequeñas */
  .slider-wrapper .slide-button {
    display: none !important; 
  }

  /* Estilos para la lista de imágenes en el slider */
  .slider-wrapper .image-list {
    gap: 10px; 
    margin-bottom: 15px; 
    scroll-snap-type: x mandatory; 
  }

  /* Estilos para cada elemento de imagen dentro de la lista */
  .slider-wrapper .image-list .image-item {
    width: 280px; 
    height: 380px; /
  }

  /* Estilos para el pulgar de la barra de desplazamiento */
  .slider-scrollbar .scrollbar-thumb {
    width: 20%; 
}

/*--------------------banner---------------*/
  .banner {
    height: 400px; /* Ajustar la altura del banner para pantallas más pequeñas */
    background-size: cover;
  }

  fa-rotate-by {
    --fa-rotate-angle: 135deg;
  }
 /* Estilo del título en el banner */
 .banner .info h1 {
  font-size: 4rem;
  line-height: 1.3;
}
  /* Estilo del párrafo en el banner */
.banner .info p {
  font-size: 16px;    
  line-height: 1.1;
} 
  .container-section {
    grid-template-columns: 1fr; /* Una sola columna (todo apilado verticalmente) */
    grid-template-rows: auto;
    padding: 20px;
  }

  .container-section .image { 
    grid-area: 1 / 1 / 2 / 2; /* Imagen arriba */
  }

  .container-section .texto-1,
  .container-section .texto-2,
  .container-section .texto-3 { 
    grid-area: auto; /* Todos los párrafos se apilan debajo de la imagen */
  }

  .contenedor-carta{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .columna1 { grid-area: 3 / 1 / 4 / 5; }
  .columna2 { grid-area: 1 / 1 / 2 / 5; }
  .columna3 { grid-area: 2 / 1 / 3 / 5; }
  .columna4 { grid-area: 4 / 1 / 5 / 5; }
  
    .contacto {  
      flex-direction: column;
      justify-content: center;
      align-content: center;
      text-align: center;
    }
}
/*-----------------------------------------------------
           Estilos para pantallas móviles
------------------------------------------------------*/
@media (max-width: 480px) {
  /* Estilos para pantallas móviles */

  body{
    margin-left: 0;
  }
  .banner img {
    display: none;
  }
  
  /* Estilo del título en el banner */
  .banner .info h1 {
    font-size: 3rem;
    line-height: 1.3;
  }
    /* Estilo del párrafo en el banner */
  .banner .info p {
    font-size: 16px;    
    line-height: 1.1;
  } 

  /* Ajustes para el botón del menú */
  .wrapper .menu-btn {
    left:20px;
    display: flex;

  }
  /* Icono del menú: barra */

  .wrapper .menu-btn i.fa-bars {
    opacity: 1;/* Visible cuando el menú está cerrado */
  }
    /* Icono del menú: cruz */

  .wrapper .menu-btn i.fa-times {
    opacity: 0;/* Invisible cuando el menú está cerrado */
  }
 /* Cambios en los iconos cuando el menú se abre */
  #btn:checked ~ .menu-btn i.fa-times {
    opacity: 1;/* Visible cuando el menú está abierto */
    transform: rotate(-180deg);
  }
  #btn:checked ~ .menu-btn i.fa-bars {
    opacity: 0;/* Invisible cuando el menú está abierto */
    transform: rotate(180deg);
  }
    /* Estilo del sidebar */

  #sidebar {
    width: 100%;
    left: -100%;
  }
    /* Sidebar visible cuando el menú está abierto */
  #btn:checked ~ #sidebar {
    left: 0;
  }  
  .contacto {  
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
}
